* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --cs-primary: #10369f;
    --cs-text: #393A3A;
    --cs-hover: #00a133;
    --cs-black: #000;
    --cs-white: #fff;
}

h1 {
    font-size: 44px;
    color: var(--cs-black);
    font-weight: 600;
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
    color: var(--cs-black) !important;
    font-weight: 400;
    padding-bottom: 10px;
}

h3 {
    font-size: 25px;
    color: var(--cs-black) !important;
    font-weight: 600;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    color: var(--cs-text) !important;
    padding-bottom: 10px;
}

a {
    color: var(--cs-primary);
    font-weight: 600;
}

.cp40 {
    padding: 40px 0px;
}

.cp60 {
    padding: 60px 0px;
}

.border_img {
    border-radius: 10px;
}

.btn-details {
    width: 100%;
    background-color: var(--cs-primary);
    border-radius: 0px;
    color: var(--cs-white);
    font-size: 14px;
    padding: 10px;
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.btn-details:hover {
    background-color: var(--cs-hover);
    color: var(--cs-white);
}

/* global ends */

/* header starts */
.navbar-brand img {
    width: 150px;
}

.nav-link {
    font-size: 14px;
    color: #013984;
    margin: 0px 8px;
}

.nav-link:hover {
    color: var(--cs-primary);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    top: 145%;
    border-radius: 0;
    font-size: 14px;
    border-top: 3px solid var(--cs-primary);
    padding: 15px;
}

.dropdown-item {
    margin-bottom: 10px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/* header ends */

/* hero starts */
.hero {
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0) 20%, rgba(1, 77, 183, 0.9) 100%), url(../images/pharmacy-05.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    padding: 100px 0px;
}

.hero_title {
    text-align: center;
}

.hero_title h4 {
    color: var(--cs-primary);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero_content h2 {
    color: var(--cs-white) !important;
}

.hero_content p {
    color: var(--cs-white) !important;
}

.learn h3 {
    color: var(--cs-white) !important;
}

.test h2 {
    color: var(--cs-white) !important;
}

.test p {
    color: var(--cs-white) !important;
}

.btn-custom {
    padding: 20px 30px;
    font-size: 14px;
    border-radius: 50px;
    background-color: var(--cs-primary);
    width: 100%;
    color: var(--cs-white);
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.btn-cs2 {
    background-color: transparent;
}

.btn-cs2:hover {
    background-color: transparent !important;
}

.btn-custom:hover {
    color: var(--cs-white);
    background-color: var(--cs-primary);
}

.learn {
    text-align: center;
}

.learn img {
    width: 80px;
}

.learn h3 {
    padding: 30px 0px;
}

/* learn more accordian */
.accordion-button {
    background-color: transparent;
    border-radius: 0;
    color: var(--cs-white);
    font-size: 25px;
    font-weight: 600;
}

.accordion-item {
    background-color: transparent;
    border-radius: 0px !important;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: var(--cs-white);
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    text-align: left;
}

.accordion-body ul li {
    list-style: inside;
    margin-bottom: 15px;
}

/* learn more accordian ends */

.test {
    width: 70%;
    margin: auto;
}

.divider {
    background-image: url(../images/download.svg);
    background-size: 100% 50px;
    /* position: absolute;
    bottom: -48%; */
    width: 100%;
    height: 50px;
    z-index: 1;
    transform: scale(-1, 1);
    margin-bottom: -100px;
}

/* hero ends */

/* comparsion starts */
.comp_content {
    padding: 0px 0px 0px 30px;
}

.comp_content h4 {
    font-size: 16px;
    padding: 10px 0px 30px 0px;
}

.post {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post h3 {
    margin: 20px 0px;
}

.post p {
    margin-bottom: 20px;
}

/* comparsion ends */

/* probtable starts */
.probtable_content h2 {
    font-size: 40px;
    font-weight: 600;
}

/* table ================================ */
.tab_box {
    border: 1px solid #00000021;
    padding: 20px 10px;
}

.tab_box p {
    color: var(--cs-text);
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    padding: 0;
}

.tab_box p span {
    font-weight: 600;
    color: var(--cs-primary);
}

.table thead tr th {
    text-align: center;
    width: 12%;
}

tr {
    border-color: transparent;
    border-style: solid;
    border-width: 0;

}

.table2 tbody tr th {
    width: 12%;
    text-align: start;
}

.table2 tbody tr td {
    width: 12%;
    text-align: center;
}

.main-wrapper {
    width: 100%;
    border: transparent;
    overflow-x: auto;
    padding: 0;
    box-sizing: border-box;
}

.responsive-table {
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
}

.responsive-table>table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
}

.responsive-table>table td,
th {
    border: 1px solid #00000021;
    padding: 8px;
    font-size: 16px;
}

.responsive-table>table th {
    text-align: left !important;
    font-size: 14px;
    font-weight: 400;
}

.des {
    text-align: center;
}

.des h3 {
    font-size: 14px;
    padding: 0;
    color: var(--cs-hover) !important;
}

.des p {
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

.des_badge td a img {
    width: 80px;
    margin: auto !important;
}

.fa-check {
    color: var(--cs-hover);
}

.fa-xmark {
    color: #E02B20;
}

.des_pr {
    font-size: 13px;
}

.count {
    width: 30px;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    overflow: hidden;
    color: var(--cs-white);
}

.c1 {
    background-color: var(--cs-hover);
}

.table3 td {
    border: 1px solid transparent !important;
}

.table3 tbody tr th {
    border: 1px solid transparent !important;
}

.verg {
    background-color: var(--cs-hover) !important;
    color: var(--cs-white);
}

.lightbg {
    background-color: #ecf9f0 !important;
}

.lightbg .btn-details {
    background-color: var(--cs-hover);
}

.lightbg a:hover {
    background-color: var(--cs-primary);
}

.btn-grey {
    background-color: #bdbdbd !important;
}

.btn-grey:hover {
    background-color: #bdbdbd !important;
}

.btn-grey2:hover {
    background-color: var(--cs-primary) !important;
}

/* table ends */
/* Probiotika Vergleich 2023 ends */

/* save starts */
.save {
    background-image: radial-gradient(circle at right, rgba(1, 77, 183, 0.2) 0%, rgba(1, 77, 183, 0.85) 50%), url(../images/pharmacy-07.jpg);
    padding: 100px 0px;
    padding-top: 350px;
    background-position: bottom center;
    position: relative;
}

.save_div {
    background-image: url(../images/curve.svg);
    background-position: center left;
    background-size: 130%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: scale(1, -1);
}


.save_title {
    position: relative;
    z-index: 10;
}

.save_title h2 {
    font-weight: 700;
    font-size: 30px;
    color: var(--cs-white) !important;
}

.save_title h4 {
    font-weight: 600;
    font-size: 200px;
    line-height: 0.9em;
    text-shadow: 0.03em 0.03em 0em rgba(40, 101, 150, 0.5);
    color: var(--cs-white);
}

.save_title p {
    color: var(--cs-white) !important;
}

.save_content {
    position: relative;
    z-index: 10;
}

.save_content h4 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.5em;
    color: var(--cs-white) !important;
}

.save_content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4em;
    color: var(--cs-white) !important;
}

.save_content p {
    color: var(--cs-white) !important;
    margin: 10px 0px;
}

.btn-save {
    padding: 15px 30px;
    background-color: var(--cs-hover);
    border-radius: 5px;
    color: var(--cs-white);
    transition: .4s all ease-in-out, .4s all ease-in-out;
}

.btn-save:hover {
    color: var(--cs-white);
    background-color: var(--cs-primary);
    border-radius: 50px;

}

/* save ends */

/* pverg starts */
.pverg {
    background-color: #144b7a;
}

.btnsv2 {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

/* pverg ends  */

/* capsule starts */
.capsule {
    background: radial-gradient(circle at top right, rgba(1, 77, 183, 0.5) 0%, rgba(255, 255, 255, 0) 100%), url(../images/pharmacy-06.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 60px;
}

.cpdivide {
    background-image: url(../images/curve2.svg);
    background-size: 100% 50px;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    transform: scale(-1, -1);
}

.tes_badge {
    text-align: end;
}

.tes_badge img {
    width: 200px;
}

.capsule_title h2 {
    font-weight: 700;
}

.caps_img img {
    border-radius: 50%;
}

.vorteile {
    padding: 30px;
    background-color: var(--cs-white);
    border: 5px solid var(--cs-hover);
}

.vorteile ul {}

.vorteile ul li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.vorteile ul li i {
    margin-right: 10px;
}

.vort_btn {
    margin-top: 20px;

}

.vort_btn .btn-save {
    width: 100%;
}

.vort_btn .btn-save:hover {
    background-color: var(--cs-hover);
    border-radius: 5px;
    color: var(--cs-white);
}

.capsule_content {
    margin-top: 60px;
}

.achtung {

    padding: 30px;

    background-color: #9cc3df;

    border-bottom: 3px solid #ababab;
}

.achtung p {
    margin-bottom: 15px;
    color: var(--cs-white) !important;
}

.studien {
    padding: 30px;

    background-color: #9cc3df;

    border-bottom: 3px solid #ababab;
}

.studien .accordion-item {
    color: var(--bs-accordion-color);
    background-color: transparent;
    border: none;
    padding: 0;
}

.studien .accordion-item:last-of-type .accordion-button.collapsed {
    padding: 0 !important;
}

.studien ul li {
    list-style: number;
    color: var(--cs-white);
}

.studien .accordion-item:first-of-type .accordion-button {
    padding: 0;
}

.studien2 {
    border-bottom: 0px;
    overflow-y: hidden;
}

/* capsule ebds */

/* .footer start */
.footer {
    background-color: #0a3a81;
}

.footer_content p {
    font-size: 14px;
    color: var(--cs-white) !important;
}

/* .footer_content {
    display: flex;
    justify-content: space-between;
} */

.footer_list li {
    list-style: none;
    color: var(--cs-white);
    margin-bottom: 5px;
    font-size: 14px;
}

.footer_list a {
    color: var(--cs-white);
    font-weight: 400;
    font-size: 14px;
}

.footer_list a:hover {
    text-decoration: underline;
}

/* footer ends */